MSSQL_SA_PASSWORD=Your_password123
IDENTITY_DB_CONNECTION_STRING="Server=sqlserver;Database=IdentityDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True"
CATALOG_DB_CONNECTION_STRING="Server=sqlserver;Database=CatalogDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True"
ORDERS_DB_CONNECTION_STRING="Server=sqlserver;Database=OrdersDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True"
PAYMENTS_DB_CONNECTION_STRING="Server=sqlserver;Database=PaymentsDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True"
INVENTORY_DB_CONNECTION_STRING="Server=sqlserver;Database=InventoryDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True"
SHIPPING_DB_CONNECTION_STRING="Server=sqlserver;Database=ShippingDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True"
LUNA_COOKIE_ENCRYPTION_KEY=replace-with-a-base64-encoded-32-byte-key
AUTH_COOKIE_SECURE=false
